/*styles for nav*/
:host {
    height: 40px;
    width: 100%;
    background-color: #693817;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-item {
      color: #e5950a;
      border-bottom: #e5950a solid 2px;
      height: 38px;
      min-width: 120px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      cursor: pointer;
      transition: all 0.5s ease;
      text-decoration: none;

      &:hover {
        background-color: #e5950a;
        color: #693817;
      }

      &--dropdown {
        position: relative;
        &:hover .nav-item--dropdown-items {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          transition: all 0.6 ease;
        }
      }

      &--dropdown-items {
        display: none;
        position: absolute;
        top: 38px;
        .dropdown-item {
          color: #494847;
          background-color: rgba(229, 149, 10, 0.6);

          &:hover {
            color: white;
            background-color: rgba(229, 149, 10, 0.93);
          }
        }
      }

      &--sec-dropdown {
        background-color: rgba(229, 149, 10, 0.6);
        color: #693817;
        position: relative;
        &:hover .nav-item--sec-dropdown-items {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          transition: all 0.6 ease;
        }
      }

      &--sec-dropdown-items {
        display: none;
        position: absolute;
        top: 38px;
        .dropdown-item {
          color: #494847;
          background-color: rgba(229, 149, 10, 0.6);

          &:hover {
            color: white;
            background-color: rgba(229, 149, 10, 0.93);
          }
        }
      }
    }
}
