<div class="home-container">
  <div class="home-banner">
    <div class="home-banner__header">
      <img class="home-banner__header__logo" [src]="umLogo">
      <img class="home-banner__header__logo--sci" [src]="umsciLogo">
      <div class="home-banner__header__title">Charles Darwin Nature Museum</div>
    </div>
    <div class="home-banner__body">
      Charles Robert Darwin, FRS FRGS FLS FZS[2] (/ˈdɑːrwɪn/;[3] 12 February 1809 – 19 April 1882) was an English naturalist and geologist,[4] best known for his contributions to the science of evolution.[I] He established that all species of life have descended over time from common ancestors,[5] and in a joint publication with Alfred Russel Wallace introduced his scientific theory that this branching pattern of evolution resulted from a process that he called natural selection, in which the struggle for existence has a similar effect to the artificial selection involved in selective breeding.[6]
      Darwin published his theory of evolution with compelling evidence in his 1859 book On the Origin of Species, overcoming scientific rejection of earlier concepts of transmutation of species.[7][8] By the 1870s, the scientific community and much of the general public had accepted evolution as a fact. However, many favoured competing explanations and it was not until the emergence of the modern evolutionary synthesis from the 1930s to the 1950s that a broad consensus developed in which natural selection was the basic mechanism of evolution.[9][10] In modified form, Darwin's scientific discovery is the unifying theory of the life sciences, explaining the diversity of life.[11][12]
    </div>

    <div class="home-banner__footer">
      <button>ENTER</button>
    </div>
  </div>
</div>
